menu "VEML7700"

config VEML7700_0_ENABLE
    bool "Habilitar instancia 0"
    default y

if VEML7700_0_ENABLE
config VEML7700_0_ID
    int "Identificador"
    default 10
config VEML7700_0_ADDR
    hex "Dirección I2C"
    default 0x10
config VEML7700_0_PERIOD_MS
    int "Periodo de muestreo en ms"
    default 60000
    range 1000 360000
endif

config VEML7700_1_ENABLE
    bool "Habilitar instancia 1"
    default n

if VEML7700_1_ENABLE
config VEML7700_1_ID
    int "Identificador"
    default 11
config VEML7700_1_ADDR
    hex "Dirección I2C"
    default 0x11
config VEML7700_1_PERIOD_MS
    int "Periodo de muestreo en ms"
    default 60000
    range 1000 360000
endif

endmenu