menu "AM2315C"

config AM2315C_0_ENABLE
    int "Habilitar instancia 0 (0=no, 1=sí)"
    default 1
    range 0 1

if AM2315C_0_ENABLE = 1
config AM2315C_0_ID
    int "Identificador"
    default 20
config AM2315C_0_ADDR
    hex "Dirección I2C"
    default 0x38
config AM2315C_0_PERIOD_MS
    int "Periodo de muestreo en ms"
    default 60000
    range 1000 360000
endif

config AM2315C_1_ENABLE
    int "Habilitar instancia 1 (0=no, 1=sí)"
    default 0
    range 0 1

if AM2315C_1_ENABLE = 1
config AM2315C_1_ID
    int "Identificador"
    default 21
config AM2315C_1_ADDR
    hex "Dirección I2C"
    default 0x39
config AM2315C_1_PERIOD_MS
    int "Periodo de muestreo en ms"
    default 60000
    range 1000 360000
endif

endmenu